body{
  overflow:hidden;
}

.leftside,.rightside{
    height:100vh;
    border: 0.5px solid rgba(5, 247, 255, 0.5)
}
.leftside{
    border-color:white;
    background: url("gray.jpg") no-repeat;
    padding:30px;
}
.rightside{

}
.graph{
    border: 0.5px solid transparent;
    border-color:white;
    height:100vh;
    width:100%;
    padding:80px;
    background: url("gray.jpg") no-repeat;
}

.form{
    color:white;
    height:500px;
    padding-left:20px;
    padding-top:50px;
    width:100%;
    text-shadow: white 0px 0px 15px;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

