
section{
    padding:100px;
    height:600px;
    width:900px;

}
.wrapper{
    height:auto;
    margin:auto;
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}
.content-section{
   padding:40px;
}
.form-group{
     width:50%;
}
.form-group1 .btn{
   color:white;

}
.text-muted{
color:black;
}
.ml-2{
color:red;
}
.border-bottom{
    text-shadow:-1px 1px 0 #000,
                    1px 1px 0 #000,
                    1px -1px 0 #000;
                   -1px -1px 0 #000;
    color:#0000000;
    font-family:Arial;
    font-size:2em;
}