.wrapper1{
    height:auto;
    width:800px;
    margin-left:400px;
    margin-top:100px;
    margin-bottom:100px;
    color:red;
    background-color: rgba(0,0,0, 0.7);
    border: 3px solid rgba(5, 247, 255, 0.5);
}
.content-section{
   padding:40px;
}
.form-group{
    color:white;
    width:50%;
}
a1{
    color:white;
}
.form-group1 .btn{
   color:white;
}
.ml-2{
color:red;
}
.border-bottom{
    text-shadow:-1px 1px 0 #000,
                    1px 1px 0 #000,
                    1px -1px 0 #000;
                   -1px -1px 0 #000;
    color:white;
    font-family:Arial;
    font-size:2em;
}