{% extends "DESKTOP/base.html" %}
{% %}



{% block content%}
  <div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Register</legend>
      {{form}}
    </fieldset>
    <div class="form-group">
      <button type="btn btn-outline-info" type="submit">Sign Up</button>
    </div>
  </form>
  </div>

{% endblock content %}
