{% extends 'base.html'%}
{%load static%}
{%block title%}
   Charts
{%endblock%} >

{%block links%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/data.css' %}">
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/d3js/5.15.1/d3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{%endblock%}

{%block nav%}
<ul class="nav-area">
     <li><a href="logout">Logout</a></li>

</ul>
{%endblock%}

{% block content %}
<div style="padding:10px">
<h1 style="text-align:center;
    text-shadow: white 0px 0px 10px;
    text-shadow:-4px 4px 0 #C0EBE9,
                2px 2px 0 #C0EBE9,
                2px -2px 0 #C0EBE9;
               -2px -2px 0 #C0EBE9;
    color:black;
    text-transform:uppercase;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    font-size:40px;">ENJOY THE BEST VISUALISATION OF UNIVERSITY OF THE WIWATERSRAND STUDENTS INFORMATION </h1>
</div>
<br><br>
<div style="padding-left:150px;">
<form  style=" color:black;
                border: 2px solid transparent;
                border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
                border-image-slice: 1;
                padding-left:80px;
                padding-top:40px;
                height:320px;
                width:1300px;
                background:linear-gradient(-45deg,#EE7752,#E73C7E,#23A6D5,#23D5AB);">

    <br>
    <img src="{% static 'images/wits.png' %}" alt="Simply Easy Learning"
         style="width:220px; position:relative;float:right;">
    <select id="myInput" name="number of students" style="background:pink;
                                                            border: 2px solid transparent;
                                                            border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
                                                            border-image-slice: 1;
                                                            height:40px;
                                                            ">
    <option value="students"style="">Number of students</option>
    <option value="Gender:Male"style="">Number of Male students</option>
    <option value="Gender:Female"style="">Number of Female students</option>
    <option value="Biological Science Degree">Biological Science Degree</option>
    <option value="Mathematics Degree">Mathematics Degree</option>
    <option value="Physical Science Degree">Physical Science Degree</option>
    <option value="Earth Science Degree">Earth Science Degree</option>
         <option value="pass"style="">FINAL YEAR: PASSED</option>
         <option value="fail"style="">FINAL YEAR: FAILED</option>
  </select><br><br>

      <select id="myInput2" name="Type" style="background:pink;height:40px;
                                                border: 2px solid transparent;
                                                border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
                                                border-image-slice: 1;
                                               ">
    <option value="bar" style="color:red;">Bar chart</option>
    <option value="line">Line Graph</option>
    <option value="pie">Pie Chart</option>
    <option value="polarArea">PolarArea</option>
    <option value="radar">Radar</option>
  </select><br><br>

    <div style="display:inline;">

    <button id="click" type="button" onclick="all();" style="background:#C0EBE9;
                                                            border: 2px solid transparent;
                                                            border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
                                                            border-image-slice: 1;
                                                            height:30px;">Display</button>
    <br><br>
    <button id="click1" type="button" onclick="refresh()" style="background:#C0EBE9;
                                                                height:30px;
                                                                border: 2px solid transparent;
                                                                border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
                                                                border-image-slice: 1;
                                                                 ">Refresh</button>
  </div>
      <br><br>
</form><br><br>
<!--   <button onclick="myFunction()">Click Me</button>-->

</div>

<div style="padding-right:150px;padding-left:150px;padding-bottom:150px;">
<canvas id="myChart" style="background-color:rgba(0,0,0, 0.05);
                            border: 2px solid transparent;
                            border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
                            border-image-slice: 1;
                            height:756px;
                            width:200;
                            padding:100px;
                           "></canvas>
</div>

<script>

 function myFunction() {
  var x = document.getElementById("myInput");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
function myFunction2() {
  var k = document.getElementById("myInput2");
  if (k.style.display === "none") {
    k.style.display = "block";
  } else {
    k.style.display = "none";
  }
}
function refresh(){
    location.reload();
}
        var what=[];
        var gph = [];

        var table8=[]; var table9=[]; var table10=[]; var table11=[]; var table12=[];var table13=[];
        var table14=[]; var table15=[]; var table16=[]; var table17=[]; var table18=[];

        var xlabels = ["2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018"];
        var yvalues = [];
        var values=[];
function all(){
myFunction();
myFunction2();
getData();
}
        document.getElementById("click").onclick = all;
        //document.getElementById("click").onclick = myFunction,getData;
        async function getData(){
                var response = await fetch("{% static 'csv/Output.csv' %}");
                var data = await response.text();
                var what1 = document.getElementById("myInput").value;
                var gph1 = document.getElementById("myInput2").value;
                gph.push(gph1);
                what.push(what1);



                var table = data.split('\n').slice(1);
                var new_table=[];
                var i;
                for (i = 0; i < table.length; i++) {
                    new_table.push(table[i].split(","));
                }

            //*********************************TABLE FOR EACH YEAR************************************************************//
                var j;
                for (j = 0; j < new_table.length; j++) {
                    if(new_table[j][0]== "2008"){table8.push(new_table[j]);}
                    else if(new_table[j][0]== "2009"){table9.push(new_table[j]);}
                    else if(new_table[j][0]== "2010"){table10.push(new_table[j]);}
                    else if(new_table[j][0]== "2011"){table11.push(new_table[j]);}
                    else if(new_table[j][0]== "2012"){table12.push(new_table[j]);}
                    else if(new_table[j][0]== "2013"){table13.push(new_table[j]);}
                    else if(new_table[j][0]== "2014"){table14.push(new_table[j]);}
                    else if(new_table[j][0]== "2015"){table15.push(new_table[j]);}
                    else if(new_table[j][0]== "2016"){table16.push(new_table[j]);}
                    else if(new_table[j][0]== "2017"){table17.push(new_table[j]);}
                    else if(new_table[j][0]== "2018"){table18.push(new_table[j]);}
            }




            //*****************************************************************************************************************//


            //***********************************NUMBER OF STUDENTS FOR EACH YEAR**********************************************//

                if(what == "students"){
                    yvalues = [];
                    var num8 = table8.length;yvalues.push(num8);var num9 = table9.length;yvalues.push(num9);
                    var num10 = table10.length;yvalues.push(num10);var num11 = table11.length;yvalues.push(num11);
                    var num12 = table12.length;yvalues.push(num12);var num13 = table13.length;yvalues.push(num13);
                    var num14 = table14.length;yvalues.push(num14);var num15 = table15.length;yvalues.push(num15);
                    var num16 = table16.length;yvalues.push(num16);var num17 = table17.length;yvalues.push(num17);
                    var num18 = table18.length;yvalues.push(num18);
                    what=[];


            }


            //****************************************************************************************************************//


           //**********************************NUMBER OF STUDENTS IN EACH STREAMLINE***************************************//

                var count8=0;var count9=0;var count10=0;var count11=0;var count12=0;var count13=0;var count14=0;var count15=0;
                var count16=0;var count17=0;var count18=0;
            if(what == "Biological Science Degree" || what =="Mathematics Degree" || what=="Physical Science Degree" || what=="Earth Science Degree"){
                var l; yvalues = [];
                if(what == "Biological Science Degree"){
                    for (l = 0; l < table8.length; l++) {if (table8[l][7]=="Biological Science Degree"){count8=count8+1;}}
                    for (l = 0; l < table9.length; l++) {if (table9[l][7]=="Biological Science Degree"){count9=count9+1;}}
                    for (l = 0; l < table10.length; l++) {if (table10[l][7]=="Biological Science Degree"){count10=count10+1;}}
                    for (l = 0; l < table11.length; l++) {if (table11[l][7]=="Biological Science Degree"){count11=count11+1;}}
                    for (l = 0; l < table12.length; l++) {if (table12[l][7]=="Biological Science Degree"){count12=count12+1;}}
                    for (l = 0; l < table13.length; l++) {if (table13[l][7]=="Biological Science Degree"){count13=count13+1;}}
                    for (l = 0; l < table14.length; l++) {if (table14[l][7]=="Biological Science Degree"){count14=count14+1;}}
                    for (l = 0; l < table15.length; l++) {if (table15[l][7]=="Biological Science Degree"){count15=count15+1;}}
                    for (l = 0; l < table16.length; l++) {if (table16[l][7]=="Biological Science Degree"){count16=count16+1;}}
                    for (l = 0; l < table17.length; l++) {if (table17[l][7]=="Biological Science Degree"){count17=count17+1;}}
                    for (l = 0; l < table18.length; l++) {if (table18[l][7]=="Biological Science Degree"){count18=count18+1;}}
                    what=[];
                }else if(what=="Mathematics Degree"){
                    yvalues = [];
                    for (l = 0; l < table8.length; l++) {if (table8[l][7]=="Mathematics Degree"){count8=count8+1;}}
                    for (l = 0; l < table9.length; l++) {if (table9[l][7]=="Mathematics Degree"){count9=count9+1;}}
                    for (l = 0; l < table10.length; l++) {if (table10[l][7]=="Mathematics Degree"){count10=count10+1;}}
                    for (l = 0; l < table11.length; l++) {if (table11[l][7]=="Mathematics Degree"){count11=count11+1;}}
                    for (l = 0; l < table12.length; l++) {if (table12[l][7]=="Mathematics Degree"){count12=count12+1;}}
                    for (l = 0; l < table13.length; l++) {if (table13[l][7]=="Mathematics Degree"){count13=count13+1;}}
                    for (l = 0; l < table14.length; l++) {if (table14[l][7]=="Mathematics Degree"){count14=count14+1;}}
                    for (l = 0; l < table15.length; l++) {if (table15[l][7]=="Mathematics Degree"){count15=count15+1;}}
                    for (l = 0; l < table16.length; l++) {if (table16[l][7]=="Mathematics Degree"){count16=count16+1;}}
                    for (l = 0; l < table17.length; l++) {if (table17[l][7]=="Mathematics Degree"){count17=count17+1;}}
                    for (l = 0; l < table18.length; l++) {if (table18[l][7]=="Mathematics Degree"){count18=count18+1;}}
                    what=[];
                }else if(what=="Physical Science Degree"){
                    yvalues = [];
                    for (l = 0; l < table8.length; l++) {if (table8[l][7]=="Physical Science Degree"){count8=count8+1;}}
                    for (l = 0; l < table9.length; l++) {if (table9[l][7]=="Physical Science Degree"){count9=count9+1;}}
                    for (l = 0; l < table10.length; l++) {if (table10[l][7]=="Physical Science Degree"){count10=count10+1;}}
                    for (l = 0; l < table11.length; l++) {if (table11[l][7]=="Physical Science Degree"){count11=count11+1;}}
                    for (l = 0; l < table12.length; l++) {if (table12[l][7]=="Physical Science Degree"){count12=count12+1;}}
                    for (l = 0; l < table13.length; l++) {if (table13[l][7]=="Physical Science Degree"){count13=count13+1;}}
                    for (l = 0; l < table14.length; l++) {if (table14[l][7]=="Physical Science Degree"){count14=count14+1;}}
                    for (l = 0; l < table15.length; l++) {if (table15[l][7]=="Physical Science Degree"){count15=count15+1;}}
                    for (l = 0; l < table16.length; l++) {if (table16[l][7]=="Physical Science Degree"){count16=count16+1;}}
                    for (l = 0; l < table17.length; l++) {if (table17[l][7]=="Physical Science Degree"){count17=count17+1;}}
                    for (l = 0; l < table18.length; l++) {if (table18[l][7]=="Physical Science Degree"){count18=count18+1;}}
                    what=[];
                }else if(what=="Earth Science Degree"){
                    yvalues = [];
                    for (l = 0; l < table8.length; l++) {if (table8[l][7]=="Earth Science Degree"){count8=count8+1;}}
                    for (l = 0; l < table9.length; l++) {if (table9[l][7]=="Earth Science Degree"){count9=count9+1;}}
                    for (l = 0; l < table10.length; l++) {if (table10[l][7]=="Earth Science Degree"){count10=count10+1;}}
                    for (l = 0; l < table11.length; l++) {if (table11[l][7]=="Earth Science Degree"){count11=count11+1;}}
                    for (l = 0; l < table12.length; l++) {if (table12[l][7]=="Earth Science Degree"){count12=count12+1;}}
                    for (l = 0; l < table13.length; l++) {if (table13[l][7]=="Earth Science Degree"){count13=count13+1;}}
                    for (l = 0; l < table14.length; l++) {if (table14[l][7]=="Earth Science Degree"){count14=count14+1;}}
                    for (l = 0; l < table15.length; l++) {if (table15[l][7]=="Earth Science Degree"){count15=count15+1;}}
                    for (l = 0; l < table16.length; l++) {if (table16[l][7]=="Earth Science Degree"){count16=count16+1;}}
                    for (l = 0; l < table17.length; l++) {if (table17[l][7]=="Earth Science Degree"){count17=count17+1;}}
                    for (l = 0; l < table18.length; l++) {if (table18[l][7]=="Earth Science Degree"){count18=count18+1;}}
                    what=[];
                }

                yvalues.push(count8); yvalues.push(count9); yvalues.push(count10); yvalues.push(count11); yvalues.push(count12);
                yvalues.push(count13); yvalues.push(count14); yvalues.push(count15); yvalues.push(count16); yvalues.push(count17);
                yvalues.push(count18);

            }
               //*************************************************************************************************************//
               //*****************************************NUMBER OF STUDENTS THAT FAILED EACH YEAR****************************//
                if(what=="Gender:Male" || what=="Gender:Female" ){
                     if(what=="Gender:Male"){
                        yvalues = [];
                        for (l = 0; l < table8.length; l++) {if (table8[l][31]=="M"){count8=count8+1;}}
                        for (l = 0; l < table9.length; l++) {if (table9[l][31]=="M"){count9=count9+1;}}
                        for (l = 0; l < table10.length; l++) {if (table10[l][31]=="M"){count10=count10+1;}}
                        for (l = 0; l < table11.length; l++) {if (table11[l][31]=="M"){count11=count11+1;}}
                        for (l = 0; l < table12.length; l++) {if (table12[l][31]=="M"){count12=count12+1;}}
                        for (l = 0; l < table13.length; l++) {if (table13[l][31]=="M"){count13=count13+1;}}
                        for (l = 0; l < table14.length; l++) {if (table14[l][31]=="M"){count14=count14+1;}}
                        for (l = 0; l < table15.length; l++) {if (table15[l][31]=="M"){count15=count15+1;}}
                        for (l = 0; l < table16.length; l++) {if (table16[l][31]=="M"){count16=count16+1;}}
                        for (l = 0; l < table17.length; l++) {if (table17[l][31]=="M"){count17=count17+1;}}
                        for (l = 0; l < table18.length; l++) {if (table18[l][31]=="M"){count18=count18+1;}}
                        what=[];
                    }else if(what=="Gender:Female"){
                        yvalues = [];
                        for (l = 0; l < table8.length; l++) {if (table8[l][31]=="F"){count8=count8+1;}}
                        for (l = 0; l < table9.length; l++) {if (table9[l][31]=="F"){count9=count9+1;}}
                        for (l = 0; l < table10.length; l++) {if (table10[l][31]=="F"){count10=count10+1;}}
                        for (l = 0; l < table11.length; l++) {if (table11[l][31]=="F"){count11=count11+1;}}
                        for (l = 0; l < table12.length; l++) {if (table12[l][31]=="F"){count12=count12+1;}}
                        for (l = 0; l < table13.length; l++) {if (table13[l][31]=="F"){count13=count13+1;}}
                        for (l = 0; l < table14.length; l++) {if (table14[l][31]=="F"){count14=count14+1;}}
                        for (l = 0; l < table15.length; l++) {if (table15[l][31]=="F"){count15=count15+1;}}
                        for (l = 0; l < table16.length; l++) {if (table16[l][31]=="F"){count16=count16+1;}}
                        for (l = 0; l < table17.length; l++) {if (table17[l][31]=="F"){count17=count17+1;}}
                        for (l = 0; l < table18.length; l++) {if (table18[l][31]=="F"){count18=count18+1;}}
                        what=[];
                    }
                    yvalues.push(count8); yvalues.push(count9); yvalues.push(count10); yvalues.push(count11); yvalues.push(count12);
                    yvalues.push(count13); yvalues.push(count14); yvalues.push(count15); yvalues.push(count16); yvalues.push(count17);
                    yvalues.push(count18);
                }
                //************************************************************************************************************//
                //*******************************************NUMBER OF STUDENTS THAT FAILED***********************************//

                if(what=="pass" || what=="fail" ){
                     if(what=="pass"){
                        yvalues = [];
                        for (l = 0; l < table8.length; l++) {if (table8[l][27]=="Q"){count8=count8+1;}}
                        for (l = 0; l < table9.length; l++) {if (table9[l][27]=="Q"){count9=count9+1;}}
                        for (l = 0; l < table10.length; l++) {if (table10[l][27]=="Q"){count10=count10+1;}}
                        for (l = 0; l < table11.length; l++) {if (table11[l][27]=="Q"){count11=count11+1;}}
                        for (l = 0; l < table12.length; l++) {if (table12[l][27]=="Q"){count12=count12+1;}}
                        for (l = 0; l < table13.length; l++) {if (table13[l][27]=="Q"){count13=count13+1;}}
                        for (l = 0; l < table14.length; l++) {if (table14[l][27]=="Q"){count14=count14+1;}}
                        for (l = 0; l < table15.length; l++) {if (table15[l][27]=="Q"){count15=count15+1;}}
                        for (l = 0; l < table16.length; l++) {if (table16[l][27]=="Q"){count16=count16+1;}}
                        for (l = 0; l < table17.length; l++) {if (table17[l][27]=="Q"){count17=count17+1;}}
                        for (l = 0; l < table18.length; l++) {if (table18[l][27]=="Q"){count18=count18+1;}}
                        what=[];
                    }else if(what=="fail"){
                        yvalues = [];
                        for (l = 0; l < table8.length; l++) {if (table8[l][27]=="F"){count8=count8+1;}}
                        for (l = 0; l < table9.length; l++) {if (table9[l][27]=="F"){count9=count9+1;}}
                        for (l = 0; l < table10.length; l++) {if (table10[l][27]=="F"){count10=count10+1;}}
                        for (l = 0; l < table11.length; l++) {if (table11[l][27]=="F"){count11=count11+1;}}
                        for (l = 0; l < table12.length; l++) {if (table12[l][27]=="F"){count12=count12+1;}}
                        for (l = 0; l < table13.length; l++) {if (table13[l][27]=="F"){count13=count13+1;}}
                        for (l = 0; l < table14.length; l++) {if (table14[l][27]=="F"){count14=count14+1;}}
                        for (l = 0; l < table15.length; l++) {if (table15[l][27]=="F"){count15=count15+1;}}
                        for (l = 0; l < table16.length; l++) {if (table16[l][27]=="F"){count16=count16+1;}}
                        for (l = 0; l < table17.length; l++) {if (table17[l][27]=="F"){count17=count17+1;}}
                        for (l = 0; l < table18.length; l++) {if (table18[l][27]=="F"){count18=count18+1;}}
                        what=[];
                    }
                    yvalues.push(count8); yvalues.push(count9); yvalues.push(count10); yvalues.push(count11); yvalues.push(count12);
                    yvalues.push(count13); yvalues.push(count14); yvalues.push(count15); yvalues.push(count16); yvalues.push(count17);
                    yvalues.push(count18);
                }


                console.log(table8[15][27])
               //************************************************PLOT THE CHART***********************************************//
                chartIt();
                async function chartIt(){
                    const ctx = document.getElementById('myChart').getContext('2d');
                    const myChart = new Chart(ctx, {
                        type: gph.pop(),
                        data: {
                            labels: xlabels,
                            datasets: [{
                                label: 'no.std',
                                data: yvalues,
                                backgroundColor: [

                                   '#32cd32',
                                    'rgba(255,128,0)',
                                    'rgba(255,255,0)',
                                    '#eeeed1',
                                    '#171717',
                                   'rgba(255,0,255)',
                                    'rgba(255,0,128)',
                                    '#bf3eff',
                                    'rgba(0,0,255)',
                                    '#ee9572',
                                    'rgba(255,0,0)'


                                ],
                                options: {
                                    layout: {
                                        padding: {
                                            left: 50,
                                            right: 0,
                                            top: 0,
                                            bottom: 0
                                        }
                                    }
                                },
                                borderColor: [
                                    'black',
                                    'black',
                                    'black',
                                    'black',
                                    'black',
                                    'black',
                                    'black',
                                    'black',
                                    'black',
                                    'black',
                                    'black',

                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                        title: {
                            display: true,
                            text: 'UNIVERSITY OF THE WITWATERSRAND',
                            fontSize: 25
                        },
           scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'YEARS',
                                fontColor:'#000000',
                                fontSize:25
                            },
                            ticks: {
                               fontColor: "black",
                               fontSize: 20
                              }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'NUMBER OF STUDENTS',
                                fontColor: 'black',
                                fontSize:25
                            },
                            ticks: {
                                  fontColor: "black",
                                  fontSize: 20
                            }
                        }]
                 }
         }
                    });

                }
        }

</script>

{% endblock %}
