{% extends 'base.html' %}
{%load crispy_forms_tags%}

{% block content%}
<div>
<div style="background:linear-gradient(-45deg,#EE7752,#E73C7E,#23A6D5,#23D5AB);">
   <form  id='InputsForm' style="color:black;
             height:400px;
             padding-left:50px;
             width:500px;
             ">
      <table>
         {% csrf_token %}
         {{ form|crispy }}
      </table>
      <button id="SubmitButton"type="submit" class="btn btn-success">Generate</button>
   </form>
</div>
<div style="
                               border: 2px solid transparent;
                               border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
                               border-image-slice: 1;
                               height:756px;
                               width:200;
                               padding:100px;
                              ">
        <div id="myDiv">
        </div>
   </div>

<script type="text/javascript">

var trace1,trace2;
var data
$('#SubmitButton').click(function (event) {
   event.preventDefault(); //so that we stop normal form submit.
   console.log($('form#InputsForm').serializeArray());
   $.ajax({
        type: 'POST',
        url: "{% url 'ajax'%}",
        dataType: 'json',
        data: $('form#InputsForm').serializeArray(),
        success: function (data) {
            console.log(data['dependent_extra_values']);
            trace1 = {
                name: data['name_1'],
                x: data['independent_values'],
                y: data['dependent_values'],
                type:data['graph_type'],
                line: {
                    color: data['colours']
                }
            };
            trace2 = {
                name: data['name_2'],
                x: data['independent_values'],
                y: data['dependent_extra_values'],
                type:data['graph_type'],
                line: {
                    color: '#00FFFF'
                }
            };

            var data = [trace1,trace2];
            var layout1 = {barmode: 'group'};
            layout = {
                showlegend: true,
                xaxis: {
                    title:{
                    text : 'Years'
                    },
                    font:{
                      family: 'Raleway, sans-serif'
                    },
                    autotick: false,
                    dtick: 1,
                    ticklen:0.5,
                    tickwidth: 4,
                    tickcolor: "#000",
                    tickangle: -45
                },
                yaxis:{
                    title:{
                        text: 'Number of Students'
                    }
                }
            };
            Plotly.newPlot('myDiv', data, layout, {
                responsive: true,
                displaylogo: false
            });
        }
   });
});
</script>
</div>
{% endblock content %}
